@media screen {
    .navBtn {
        width: 50px;
        height: 50px;
        display: flex;
        cursor: pointer;
        border-radius: 12px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color:transparent;
        color: var(--tertiary-color);
        box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 

    }


    
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
   
    
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
