@media screen {
  .bookingMain {
    gap: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .bookingMain p {
    font-size: 1rem;
    text-align: center;
    color: var(--tertiary-color);
  }

  .bookingMain h1 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--tertiary-color);
  }

  .bookingMain h2 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--tertiary-color);
  }

  .bookingHeader {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: auto;
  }

  .bookingWrapper {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .bookingContainer {
    gap: 10px;
    display: flex;
    padding: 10px;
    border-radius: 12px;
    flex-direction: column;
    color: var(--background-color);
    background: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }

  .bookingTop {
    gap: 10px;
    position: relative;
    align-items: center;
    flex-direction: column;
  }

  .bookingTopHeader {
    bottom: 0;
    width: 100%;
    border: 12px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }

  .bookingImg {
    width: 100%;
    border-radius: 12px;
  }

  .bookingBottom {
    gap: 10px;
    row-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    flex-direction: column;
  }

  .bookingBottom ul {
    gap: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    list-style: none;
    font-size: 0.8rem;
    align-items: center;
    border-radius: 10px;
    color: var(--tertiary-color);
    background: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }

  .addsOnContainer {
    gap: 10px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 12px;
    flex-direction: column;
    color: var(--background-color);
    background: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }

  .addsOn {
    gap: 10px;
    display: flex;
    width: fit-content;
  }

  .addPie {
    gap: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .addPie h2 {
    font-size: 0.9rem;
  }

  .addPie p {
    font-size: 0.9rem;
  }

  .addsOnButton {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--tertiary-color);
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
  }

  .addsOnButton:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }

  .active {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }

  .availableContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .calenderContainer {
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .availableDate {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }

  .applyButton {
    width: 100%;
    display: flex;
    padding: 20px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    color: var(--tertiary-color);
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
  }

  .applyButton:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .bookingContainer {
    flex-direction: row;
  }

  .bookingBottom ul {
    gap: 10px;
    padding: 10px;
  }

  .calenderContainer {
    width: auto;
  }

  .bookingImg {
    width: 400px;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
